dumb-http/objects/** -text
dumb-http/HEAD text eol=lf
dumb-http/info/refs text eol=lf
dumb-http/objects/info/packs text eol=lf
dumb-ca-http/objects/** -text
dumb-ca-http/HEAD text eol=lf
dumb-ca-http/info/refs text eol=lf
dumb-ca-http/objects/info/packs text eol=lf
